mixin capture-form()
	form.capture-form&attributes(attributes)
		p.capture-form__title Выберите удобный способ связи:
		.capture-form__options 
			label
				input(type="radio" name='Тип связи' value="Звонок" checked)
				.target
					+icon('phone','white')
					p Звонок
			label
				input(type="radio" name='Тип связи' value="WhatsApp") 
				.target
					+icon('social-wa')
					p WhatsApp
			label
				input(type="radio" name='Тип связи' value="Email")
				.target
					+icon('social-mail')
					p E-mail
			//- label
			//- 	input(type="radio" name='Тип связи' value="Telegram")
			//- 	.target
			//- 		+icon('social-tg')
			//- 		p Telegram
			//- label
			//- 	input(type="radio" name='Тип связи' value="Viber")
			//- 	.target
			//- 		+icon('social-viber')
			//- 		p Viber
		.d-lg-flex
			.capture-form__input-wrap.input-wrap 
				input.capture-form__input.input.input--white(type='tel' name="Телефон" placeholder="+7 (999) 999-99-99")
			button.capture-form__btn.uk-button.btn-solid-primary(type='submit') Получить консультацию