mixin questions()
    section.questions&attributes(attributes)
        .container 
            .questions__line.questions__line--1
            .questions__line.questions__line--2
            h2.questions__title Часто задоваемые #[strong вопросы] 
            .questions__blocks 
                .questions__block.questions__block--1
                    .questions__block-head 
                        p Сколько стоит ремонт?
                    p.questions__block-descr Стоимость ремонта зависит от марки, модели оборудования и вида ремонта. Для каждого ремонтируемого насоса рассчитывается калькуляция на этапе диагностики
                .questions__block.questions__block--2
                    .questions__block-head 
                        p Какие сроки ремонта?
                    p.questions__block-descr Срок ремонта зависит от неисправностей и&nbsp;наличия запчастей. В среднем сроки ремонта от 3 до 7 календарных дней.