+popup(id="callback-calc")
    h3.popup__title Оставьте ваши контакты
    h4.popup__subtitle Мы свяжемся с вами в ближайшее время и&nbsp;рассчитаем стоимость ремонта
    form.popup__form(action="#")
        .popup__form-main
            .popup__form-input.input-wrap
                label Введите ваше имя:
                input.input.name(type="text" name="Имя" placeholder="Иван")
            .popup__form-input.input-wrap
                label Введите ваш телефон:
                input.input.phone(type="tel" name="Телефон" placeholder="+7 (999) 999-99-99")
            button.popup__form-btn.uk-button.btn-solid-primary(type="submit") Заказать звонок
            .popup__form-agr Нажимая на кнопку вы даёте согласие на обработку персональных данных