//- Links 

- var phoneLink = "tel:89680423151"
- var phoneNumber = "8 (968) 042-31-51"
- var mailAdress = "remgvard@gmail.com"
- var policyLink = "/privacy-policy.pdf"
- var licenseLink = "/license.pdf"

- var aboutPageLink = '/about'
- var servicesPageLink = '/services'
- var repaircostPageLink = '/repair-cost'
- var howweworkPageLink = '/how-we-work'
- var contactsPageLink = '/contacts'

- var znoPageLink = '/zamena-nasosnogo-oborudovaniya'

//- social
- var vkLink = "#"
- var instLink = "#"
- var fbLink = "#"
- var tgLink = "#"
- var waLink = "#"
- var viberLink = "#"

//- image placeholder
- var ipl = "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
//- image paths
- var assets = "assets/images/"
- var modules = `/modules/images/`
- var assetsIco = "assets/images/icons/"
- var modulesIco = `/modules/images/icons/`

//- grid breakpoints
- var sm = 420
- var md = 768
- var lg = 1170

//- colors 
- var primary = '#FFDB5C'
- var secondary = '#3085EA'

//- iconset


