extends ../modules/layout/_layout

prepend head
	title Как мы работаем
	meta(name="description", content="Как мы работаем")

block header
	+header(5)
block footer
	+footer(5)
block content
	main.main
		section.s1 
			.container
				+appnav('Как мы работаем').appnav--dark
				.s1__line.s1__line--1
				.s1__line.s1__line--2 
				.s1__line.s1__line--3
				h2.s1__title Как мы #[strong работаем?]
				.s1__blocks 
					.s1__block 
						.s1__block-head 
							.s1__block-num 1
							.s1__block-title Заявка
						.s1__block-descr Вы оставляете заявку на сайте
						a.s1__block-btn.uk-button.btn-solid-primary.d-none.d-lg-flex Оставить заявку
					.s1__block 
						.s1__block-head 
							.s1__block-num 2
							.s1__block-title Консультация
						.s1__block-descr С вами связывается наш менеджер, узнаёт всю необходимую информацию и проводит консультацию по&nbsp;выбранной услуге.
					.s1__block 
						.s1__block-head 
							.s1__block-num 3
							.s1__block-title Приёмка оборудования
						.s1__block-descr Вы привозите оборудование к&nbsp;нам в цех. Либо мы лично выезжаем к&nbsp;вам на объект.
					.s1__block 
						.s1__block-head 
							.s1__block-num 4
							.s1__block-title Диагностика и договор
						.s1__block-descr Проводим диагностику вашего оборудования. Озвучиваем стоимость работ и заключаем договор.
					.s1__block 
						.s1__block-head 
							.s1__block-num 5
							.s1__block-title Оплата
						.s1__block-descr Вы оплачиваете полную стоимость работ удобным для вас способом.
					.s1__block 
						.s1__block-head 
							.s1__block-num 6
							.s1__block-title Ремонт
						.s1__block-descr После оплаты мы проводим качественный ремонт вашего оборудования.
		section.s2 
			.container 
				h2.s2__title Виды #[strong оплат]
				ul.s2__list
					li.s2__item 
						.s2__item-icon
							+icon('shield-done') 
						p Безналичный расчёт с НДС
					li.s2__item 
						.s2__item-icon
							+icon('work') 
						p Безналичный расчёт без НДС
					li.s2__item 
						.s2__item-icon
							+icon('wallet') 
						p Расчёт за наличные

		//- section MOST ASK QUESTIONS
		+questions().s4
		//- end MOST ASK QUESTIONS

		//- section CAPTURE
		+capture()
		//- end CAPTURE
