extends modules/layout/_layout

prepend head
	title Контакты
	meta(name="description", content="Контакты")

block wp_head 
	!= `<?php /* Template Name: Контакты */ get_header(); ?>`
block wp_foot 
	!= '<?php get_footer(); ?>'

block header
	+header(6)
block footer
	+footer(6)
block content
	main.main
		.container
			+appnav('Контакты').appnav--dark.appnav-kontakty
		//- section CONTACTS
		+contacts()
		//- end CONTACTS

		//- section CAPTURE
		+capture()
		//- end CAPTURE
