extends modules/layout/_layout

prepend head
	title Services
	meta(name="description", content="Services")

block wp_head 
	!= `<?php /* Template Name: Услуги */ get_header(); ?>`
block wp_foot 
	!= '<?php get_footer(); ?>'

block header
	+header(3)
block footer
	+footer(3)
block content
	main.main
		.container
			+appnav('Услуги').appnav--dark.appnav-uslugi
		//- section SERVICES
		+services().s05
		//- end SERVICES
		
		//- section CAPTURE
		+capture()
		//- end CAPTURE
