
.appnav {
    position: absolute;
    top: 1.1875rem;
    z-index: 5;
    @media (min-width: map-get($grid-breakpoints, lg)) {
        top: 2.75rem;
    }
}
.s1 {
    padding-top: 3.375rem;
    @media (min-width: map-get($grid-breakpoints, lg)) {
        padding-top: 2.75rem;
    }
    .container {
        @media (min-width: map-get($grid-breakpoints, lg)) {
            padding-top: 6rem;
        } 
    }
    .services {
        &__line--1 {
            display: none;
        }
        &__title {
            @media (min-width: map-get($grid-breakpoints, lg)) {
                text-align: left;
            }
        }
    }
}
