
// capture-form
.capture-form {
    &__title {
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 1.7em;
        color: #FFFFFF;
        margin-bottom: 1.125rem;
    }
    &__options {
        display: flex;
        margin-bottom: 1.0625rem;
        .target {
            padding: 0 0.625rem;
            height: 2.1875rem;
            display: flex;
            align-items: center;
            justify-content: center;

            border-width: 0.0625rem;
            border-top-style: solid;
            border-bottom-style: solid;
            border-color: rgba(255, 255, 255, 0.25);

            color: white;
            font-size: 0.5rem;
            font-weight: 500;
            transition: $transition--fast;

            position: relative;
            svg {
                width: 1rem;
                margin-right: 0.5625rem;
                path {
                    transition: $transition--fast;
                }
            }
        }
        label {
            &:first-child {
                .target {
                    border-left-style: solid;
                }
            }
            &:nth-child(2) {
                .target {
                    &::before, &::after {
                        content: '';
                        width: 1px;
                        height: 1.6875rem;
                        background: rgba(#EFEFEF, 0.15);
                        @include center-item-y();
                    }
                    &::before {
                        left: 0;
                    }
                    &::after {
                        right: 0;
                    }
                }
            }
            &:nth-child(3) {
                .target {
                    &::after {
                        content: '';
                        width: 1px;
                        height: 1.6875rem;
                        background: rgba(#EFEFEF, 0.15);
                        @include center-item-y();
                        right: 0;
                    }
                }
            }
            &:last-child {
                .target {
                    border-right-style: solid;
                }
            }

        }
        input {
            display: none;
            &:checked ~ .target {
                color: #123C56;
                background: white;
                svg {
                    path {
                        fill: #123C56;
                    }
                }
            }
        }
    }
    &__input {
        &-wrap {
            margin-bottom: 0.875rem;
        }
    }
    &__btn {
        width: 100%;
        line-height: 4.9375rem;
        font-size: 1.0625rem;
    }
}
@media (min-width: map-get($grid-breakpoints, lg)) {
    .capture-form {
        &__title {
            font-size: 20px;
            margin-bottom: 1.375rem;
        }
        &__options {
            margin-bottom: 1.1875rem;
            .target {
                padding: 0 37px;
                height: 47px;
                font-size: 0.875rem;
                cursor: pointer;
            }
        }
        &__input {
            width: 286px;
            &-wrap {
                margin-bottom: 0;
                margin-right: 9px;
            }
        }
        &__btn {
            width: 306px;
            line-height: 79px;
            font-size: 17px;
        }
    }
}
